<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.group5.android.fd"
	android:versionCode="1"
	android:versionName="1.0"
	>
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/ThemeAllActivity">
		<activity android:name=".Main"
			android:label="@string/app_name"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.TableListActivity"></activity>
		<activity android:name=".activity.NewSessionActivity"></activity>
		<activity android:name=".activity.CategoryListActivity"></activity>
		<activity android:name=".activity.ItemListActivity"></activity>
		<activity android:name=".activity.TaskListActivity"></activity>
		<activity android:name=".activity.FdPreferenceActivity"></activity>
		<service android:name=".service.TaskUpdaterService"/>
	</application>
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest>